<div class="container mt-5">
  <h1 class="mb-4">Movie List</h1>
  <%= link_to 'Add New Movie', new_movie_path, class: 'btn btn-primary mb-3' %>

  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <%= render 'shared/card_movie', movie: movie %>
      </div>
    <% end %>
  </div>
</div>
