<div class="banner position-relative text-white text-center d-flex align-items-center" style="background-image: url(<%= image_path('cover.jpg') %>); height: 400px; background-size: cover; background-position: center;">
  <div class="container">
    <h1 class="display-4 fw-bold">Movies nights!</h1>
    <p class="lead">Enjoy and discover new movies.</p>
  </div>
</div>
