<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="<%= image_path('popcorn.png') %>" alt="popcorn" width="30" height="30">
    </a>

    <!-- Navbar Toggler (for mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
          <!-- User Avatar -->
          <a class="nav-link" href="#">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" alt="Avatar" class="rounded-circle" width="30" height="30">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
